.groupContainer {
  color: #343a40;
  border-radius: 0.25rem;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem;
  font-size: 18px;
  background-color: #f8f9fa;
  border: 2px solid #343a40;
}

.groupLabel {
  font-weight: 600;
}

.portion {
  padding: 1rem;
}
