.nav-container {
  height: 48px;
  z-index: 2;
}

.nav-brand,
.nav-brand:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  font-weight: 600;
  font-size: 20px;
  background-color: #74c0fc;
  padding: 5px;
  color: #ffff;
  border: 2px solid #ffff;
  box-shadow: 0 3px 10px rgba(49, 50, 57, 0.2);
}

.navbarLink,
.navbarLinkActive {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0px 4px 0px 4px;
  justify-content: center;
  align-items: center;
  color: #e7f5ff;
  font-weight: 600;
}

.navbarLink:hover,
.navbarLinkActive {
  color: #ffff;
  font-size: 18px;
  padding: 0px 3.5px 0px 3.5px;
}

.navbarLinkActive,
.navbarLinkActive:hover {
  color: #228be6;
  background-color: #ffff;
}
