.btnMain {
  color: #e7f5ff;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  background-color: #228be6;
  border: 2px solid #228be6;
  border-radius: 0.5rem;
  margin-top: 16px;
  margin-bottom: 16px;
}

.btnMain:hover {
  background-color: #ffff;
  color: #228be6;
}
