.tableHeader {
  font-size: 18px;
  font-weight: 800;
}

.tableContainer {
  border: 2px solid #343a40;
  border-radius: 0.5rem;
  overflow: auto;
}

.heading {
  font-size: 32px;
  font-weight: 800;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

thead:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
