.card-main-control-panel {
  margin-top: 80px;
  margin-left: 192px;
  margin-right: 32px;
  margin-bottom: 32px;
  padding: 16px 32px 32px 32px;
  box-shadow: 0 3px 10px rgba(49, 50, 57, 0.2);
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .card-main-control-panel {
    margin-top: 140px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 576px) {
  .card-main-control-panel {
    margin-left: 0px;
    margin-right: 0px;
    padding: 16px;
  }
}
