.btnDelete {
  color: #ffff;
  font-weight: 600;
  font-size: 18px;
  background-color: #ff6b6b;
  border: 2px solid #ffff;
  outline: 2px solid #ff6b6b;
  padding: 0.5rem;
  margin: 1rem;
  width: 100%;
}

.btnDelete:hover {
  color: #ff6b6b;
  background-color: #ffff;
}
