.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #343a40b6;
}

.heading {
  text-align: center;

  padding: 8px;
  color: #ffff;
  background-color: #228be6;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid;

  width: 100%;

  font-weight: 800;
  font-size: 32px;
}

.filterBtn,
.filterBtnActive {
  color: #e7f5ff;
  font-weight: 600;
  font-size: 40px;
  background-color: #228be6;
  outline: 3px solid #228be6;
  border: 2px solid #e7f5ff;
  border-radius: 0.5rem;
  margin-right: 16px;
}

.filterBtn:hover,
.filterBtnActive {
  cursor: pointer;
  background-color: #ffff;
  color: #228be6;
}

.filterForm {
  z-index: 2;
  background-color: #ffff;
  border-radius: 0.5rem;
  border: 2px solid #343a40;
  width: 50%;
  overflow-y: scroll;
}

.filterFormGroup {
  padding: 8px 24px;
}

.btnContainer {
  margin: 16px;
  padding: 8px;
}

@media (max-width: 576px) {
  .filterForm {
    width: 75%;
  }
}
