.item-row-link,
.item-row-no-link {
  vertical-align: middle;
}

.item-row-link:hover {
  cursor: pointer;
  background-color: #e7f5ff;
}

.rowHeader {
  font-weight: 600;
  background-color: #ffff;
}

tr {
  background-color: #f8f9fa;
}

tr:nth-child(2n) {
  background-color: #ffff;
}

thead tr:first-child {
  background-color: #228be6;
  color: #ffff;
}

td {
  font-size: 18px;
}
