.groupContainer .groupContainerSideLabel {
  color: #343a40;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 18px;
}

.groupContainerSideLabel {
  display: flex;
  justify-content: center;
  margin-right: 16px;
}

.groupLabel {
  font-size: 18px;
  font-weight: 600;
  padding: 8px 8px 8px 0px;
}

.internalLabel {
  position: relative;
}

.groupData {
  border: 0;
  background-color: transparent;
}

.portion {
  padding: 1rem;
}

.input {
  background-color: #ffff;
  border: 2px solid #343a40;
  border-radius: 0.5rem;
  width: 100%;
  padding: 8px;
}

.inputCheck {
  background-color: #ffff;
  border: 2px solid #343a40;
  border-radius: 0.5rem;
  margin: 8px;
}

.radioInput {
  width: 1rem;
}

.input:disabled {
  background-color: #f1f3f5;
}

.readonly {
  border: 0;
}
