.groupContainer {
  color: #343a40;
  border-radius: 0.25rem;
  margin: 0.5rem 0.5rem;
  padding: 0.5rem;
  font-size: 18px;
  background-color: #f8f9fa;
  border: 2px solid #343a40;
}

.groupLabel {
  font-weight: 600;
  padding: 8px;
}

.radioLabel {
  font-weight: 400;
  width: 25%;
}

.groupData {
  border: 0;
  background-color: transparent;
}

.portion {
  padding: 1rem;
}

.input {
  background-color: #ffff;
  border: 2px solid #343a40;
  border-radius: 0.25rem;
  width: 100%;
  padding: 8px;
}

.radioInput {
  width: 1rem;
}

.input:disabled {
  background-color: transparent;
  border: 0;
}
