.subContainer {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 2rem;
}

.heading {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;

  padding: 8px;

  background-color: #228be6;
  border-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 2px solid;

  width: 100%;

  font-weight: 600;
  font-size: 32px;
}

.altHeading {
  text-align: center;

  padding: 8px;
  margin-bottom: 8px;

  width: 100%;

  color: #343a40;
  font-weight: 600;
  font-size: 18px;
}

.titleDiv {
  display: flex;
  justify-content: flex-start;
  color: #ffff;
}

.titleDivAlt {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  color: #343a40;
}

.titleSpan {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 800;
  font-size: 32px;
}
