.brand,
.brand:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #228be6;
  padding: 16px;
  color: #ffff;
  font-weight: 800;
  border: 4px solid #ffff;
  border-radius: 0.5rem;
  box-shadow: 0 3px 10px rgba(49, 50, 57, 0.2);
  width: 160px;
}
