* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #f1f3f5;
  color: #495057;
}

nav {
  background-color: #228be6;
  box-shadow: 0 3px 10px rgba(49, 50, 57, 0.2);
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

label {
  font-weight: 600;
}

a {
  text-decoration: none;
}
