body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #f8f9fa;
  color: #495057;
}

nav {
  background-color: #1971c2;
  box-shadow: 0 3px 10px rgba(49, 50, 57, 0.2);
}

label {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.nav-container {
  height: 48px;
}

.navbar-link {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #e7f5ff;
  font-weight: 600;
  border-radius: 0.25rem;
}

.brand,
.brand:hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a5d8ff;
  padding: 5px;
  color: #ffff;
  border: 3px solid #1971c2;
  border-radius: 0.5rem;
  box-shadow: 0 3px 10px rgba(49, 50, 57, 0.2);
  width: 100%;
}

.login-header {
  font-size: 300px;
}

.login-btn {
  color: #e7f5ff;
  font-weight: 600;
  background-color: #1971c2;
  border: 2px solid #1971c2;
  margin-top: 16px;
  margin-bottom: 16px;
}

.login-btn:hover,
.navbar-link:hover {
  color: #1971c2;
  background-color: #e7f5ff;
}

.card {
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 32px;
  box-shadow: 0 3px 10px rgba(49, 50, 57, 0.2);
}

.spinner {
  height: 36px;
  width: 36px;
  animation: spin infinite 5s linear;

  /*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
