.dayHeading {
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;

  background-color: #228be6;

  color: #ffff;
  font-weight: 600;
  font-size: 18px;

  padding: 8px;
}

.dayContainer {
  outline: 2px solid #343a40;
  border-radius: 0.5rem;

  background-color: #ffff;

  padding: 0;

  margin-bottom: 1rem;
}

.iconCheck {
  font-size: 1.5rem;
}

.iconX {
  font-size: 1.5rem;
}

.mealCheckSpan {
  margin-right: 1rem;
  padding: 0.5rem;

  color: #ffff;

  background-color: #8ce99a;

  border: 2px solid #ffff;
  border-radius: 0.5rem;
}

.mealXSpan {
  margin-right: 1rem;
  padding: 0.5rem;

  color: #ffff;

  background-color: #ff6b6b;

  border: 2px solid #ffff;
  border-radius: 0.5rem;
}

.mealCheckSpan:hover,
.mealXSpan:hover {
  border: 3px solid #ffff;
  padding: 0.6rem;
  font-size: 18px;
  cursor: pointer;
}

.orderTakenContainer {
  padding: 8px;
}

.orderDate {
  padding: 8px;
}

@media (max-width: 576px) {
  .dayHeading {
    display: block;
  }

  .orderDate {
    padding: 16px;
  }

  .mealXSpan,
  .mealCheckSpan {
    margin-right: 0.5rem;
    padding: 0.5rem 0.25rem;
  }

  .mealCheckSpan:hover,
  .mealXSpan:hover {
    border: 2px solid #ffff;
    padding: 0.5rem 0.25rem;
    font-size: 16px;
  }
}
