.dayHeading {
  display: flex;
  justify-content: space-between;

  background-color: #74c0fc;

  color: #ffff;
  font-weight: 600;
  font-size: 18px;

  padding: 8px;
}

.dayContainer {
  outline: 2px solid #343a40;
  border-radius: 0.25rem;

  background-color: #ffff;

  padding: 0;

  margin-bottom: 2rem;
}

.dayContainer:hover {
  cursor: pointer;
}

.iconCheck {
  font-size: 1.5rem;
}

.iconX {
  font-size: 1.5rem;
}

.mealCheckSpan {
  margin-right: 1rem;
  padding: 0.5rem;

  color: #ffff;

  background-color: #8ce99a;

  border: 2px solid #ffff;
  border-radius: 0.25rem;
}

.mealXSpan {
  margin-right: 1rem;
  padding: 0.5rem;

  color: #ffff;

  background-color: #ff6b6b;

  border: 2px solid #ffff;
  border-radius: 0.25rem;
}

.orderTakenContainer {
  padding: 5px;
}

.orderDate {
  padding: 5px;
}
