.card-main {
  margin-top: 80px;
  margin-bottom: 32px;
  padding: 32px;
  box-shadow: 0 3px 10px rgba(49, 50, 57, 0.2);
}

.backBtnContainer {
  padding: 0px 128px;
}

.backBtn {
  color: #e7f5ff;
  width: 100%;
  font-weight: 600;
  background-color: #228be6;
  border: 2px solid #228be6;
  margin: 16px 0px;
}

.backBtn:hover {
  background-color: #ffff;
  color: #228be6;
}

.notFoundTxt {
  font-size: 48px;
  text-align: center;
}

@media (max-width: 768px) {
  .backBtnContainer {
    padding: 0px;
  }
}
